#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

div {
    display: flex;
    justify-items: center;
}

#img2, #img3, #img4 {
    float: left;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

@keyframes spin {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}

.spin {
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}