#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

#img2,
#img3,
#img4 {
    display:grid;
    grid-template-rows: auto auto auto;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

@keyframes spin {
    from {
        transform: rotateY(0deg)
    }

    to {
        transform: rotateY(360deg)
    }
}

.spin {
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}